/*!
 * 	Theme Variables
 * ----------------------------------------------- */

 :root {
    --body-font-family: 'Chakra Petch', sans-serif;
    --heading-font-family: 'Chakra Petch', sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-font-color: #000000;
    --heading-font-color: #000000;
    --heading-font-weight: 700;
    --link-font-color: #000000;
    --link-hover-font-color: #ffb424;
    --white-color: #ffffff;
}

/* Fonts */

@font-face {
    font-family: 'Cairo';
    src: url('../fonts/Cairo-Light.woff2') format('woff2'),
        url('../fonts/Cairo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* # CSS Resets
--------------------------------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

html,
body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
    font-weight: var(--body-font-weight);
    background-color: #fff;
    text-align: left;
}

.container,
.container-fuild {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
 
.container *,
.container-fuild * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
 
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row > div {
    padding-left: 15px;
    padding-right: 15px;
}

section,
.container,
.container-fluid {
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    border-style: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    color: var(--link-font-color);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: var(--link-hover-font-color);
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

p:last-child {
    margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 16px;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 24px;
}

ol,
ul {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 24px;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

pre,
code,
kbd,
samp {
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 16px;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 16px;
}

iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button:focus {
    outline: none;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-wrap: break-word;
}

a>code {
    color: inherit;
}

kbd {
    padding: 4px 8px;
    font-size: 87.5%;
    color: #fff;
    background-color: #000000;
    border-radius: 2px;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

blockquote {
    font-size: 28px;
    font-weight: 600;
    color: #000103;
    padding-left: 32px;
    border-left: 6px solid #ffb424;
    margin-top: 64px;
    margin-bottom: 64px;
}

/* # Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.lvl-1,
.lvl-2,
.lvl-3,
.lvl-4,
.lvl-5,
.lvl-6 {
  font-family: var(--heading-font-family);
  color: var(--white-color);
  font-weight: var(--heading-font-weight);
  line-height: 1.40;
  text-transform: uppercase;
}
h1,
.lvl-1 {
  font-size: 48px;
}
h2,
.lvl-2 {
  font-size: 38px;
}
h3,
.lvl-3 {
  font-size: 32px;
}
h4,
.lvl-4 {
  font-size: 24px;
}
h5,
.lvl-5 {
  font-size: 20px;
}
h6,
.lvl-6 {
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}

jQuery(document).ready(function () {

  // Add state change to header on scroll  ****************************** //

  if (jQuery("#masthead").length) {
    var header = jQuery("#masthead");
    jQuery(window).scroll(function () {
      var scroll = jQuery(window).scrollTop();
      if (scroll >= 20) {
        header.addClass("header-scroll");
      } else {
        header.removeClass("header-scroll");
      }
    });
  }

    // Faq //

  if (jQuery(".faqs__wrapper").length) {
    jQuery('.faq-single:first-of-type').addClass('active');
    jQuery('.faq-single:first-of-type .faq-content').slideDown();

    jQuery('.faq-single').click(function () {
      if (jQuery(this).hasClass('active')) {
      } else {
        jQuery(".faq-single").removeClass('active');
        jQuery(this).addClass('active');
        jQuery('.faq-content').slideUp();
        jQuery(this).find('.faq-content').slideDown();
      }
    });
  } 
 });

   header.site-header {
    position: fixed;
    width: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f0f1ee;
    padding: 24px 0;
    height: 94px;
    -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .15);
}

    // Service Tabbed Content  ****************************** //

    if (jQuery(".service-tab-wrapper").length) {
      var jQueryservicewrapper = jQuery(".service-tab-wrapper"),
        jQueryserviceallTabs = jQueryservicewrapper.find(
          ".service-tab-content-slide > div.service-tab-content__wrapper"
        ),
      jQueryservicetabMenu = jQueryservicewrapper.find(".service-tab-menu li");
  
      jQueryserviceallTabs.not(":first-of-type").hide();
      jQueryservicetabMenu.filter(":first-of-type").addClass("active");
      jQueryservicetabMenu.filter(":first-of-type").find(":first").width("100%");
  
      jQueryservicetabMenu.each(function (j) {
        jQuery(this).attr("data-tab", "tab" + j);
      });
  
      jQueryserviceallTabs.each(function (j) {
        jQuery(this).attr("data-tab", "tab" + j);
      });
  
      jQueryservicetabMenu.on("click", function () {
        var dataTab = jQuery(this).data("tab"),
          jQueryservicegetWrapper = jQuery(this).closest(jQueryservicewrapper);
  
        jQueryservicegetWrapper.find(jQueryservicetabMenu).removeClass("active");
        jQuery(this).addClass("active");
  
        jQueryservicegetWrapper.find(jQueryserviceallTabs).hide();
        jQueryservicegetWrapper
          .find(jQueryserviceallTabs)
          .filter("[data-tab=" + dataTab + "]")
          .show();
      });
    }
